* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(245, 245, 245); */
    overflow-x: hidden;
    /* justify-content: center; */
    
}

.App {
    display: flex;
    justify-content: center;
}

.home_content {
    
    padding-top: 10vh;
}

.home_image {
    width: 100%;
    height: 90vh;
    /* height: auto; */
    /* background-size: 100%; */
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    text-align: center;

}

.home_image_label {
    color: white;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: start;

    /* height: 2rem; */
    padding-left: 6rem;
    /* padding-top: 50%; */
    padding-right: 20vw;
    padding-bottom: 6rem;
    /* padding-top: 60vh; */
    font-size: 2rem;
    text-shadow: .5rem .5rem rgba(0, 0, 0, .4);
}

.home_main {
    height: 115vh;
    width: 100%;
    /* background: rgb(230, 230, 230); */
    background: rgb(237,238,240);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.home_main_label {
    font-size: 2.5rem;
    font-weight: bold;
    /* padding-top: 10vh; */

    /* text-shadow: .2rem .2rem rgba(0, 0, 0, .4); */
}

.home_main_box {
    background: white;
    margin-top: 20vh;
    padding: 3vh 10vh;
    /* width: 60vw; */
    border-radius: 10px;
    border: 2px solid rgb(222,226,231);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_form {
    display: flex;
    width: 55vw;
    justify-content: space-between;
    flex-wrap: wrap;

    /* background: rgb(230, 230, 230);
    border-radius: 10px;
    border:2px solid grey; */
}

.home_form_element {
    /* background: rgb(115,47,249); */
    background: rgb(237,238,240);
    width: 25vw;
    height: 30vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    border: 2px solid rgb(222,226,231);
    box-shadow: 0 1rem 10px rgba(0, 0, 0, .4);
}

.home_form_element_label {
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.home_image2 {
    width: 100%;
    height: 60vh;
    /* background-size: 100%; */
    background-size: cover;
    background-position: 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home_image2_label {
    /* color: white;
    width: 60%;
    padding-left: 6rem;
    padding-top: 30vh;
    font-size: 2rem;
    text-shadow: .5rem .5rem rgba(0, 0, 0, .4); */
    color: white;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: start;

    /* height: 2rem; */
    padding-left: 6rem;
    /* padding-top: 50%; */
    padding-right: 20vw;
    padding-bottom: 4rem;
    /* padding-top: 60vh; */
    font-size: 2rem;
    text-shadow: .5rem .5rem rgba(0, 0, 0, .4);
}

.home_ending {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_ending_label {
    font-size: 3rem;
    font-weight: bold;
}

.form_page {
    padding-top: 15vh;
    display: flex;
    flex-direction: row;

    /* width: 100vw;
    background: red; */
}

.form_page_left {
    width: 25vw;
    height: 45vh;
    background: rgb(240,235,248);
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    border: 3px solid rgb(240,235,248);
    /* border-right: 3px solid rgb(240,235,248);
    border-bottom: 3px solid rgb(240,235,248); */
    border-radius: 10px;
}

.form_page_left_label {
    font-size: 1.75rem;
    padding-bottom: 2rem;
}

.form_page_left_button {
    height: 4rem;
    width: 20vw;
    background: rgba(115,47,249, .97);
    color: white;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.form_page_left_button:hover {
    transform: scale(1.05);
    transition-duration: 200ms;
}

.form_page_main {
background: rgb(240,235,248);
border-radius: 10px;
}

.form_page_main_top {
    /* display: flex;
    justify-content: center; */
    /* padding-left: 1rem; */
    padding: 1.5rem;
    margin: 2rem;
    background: white;
    /* margin-bottom: 1rem; */
    width: 50vw;
    border-radius: 7px;
}

.form_page_label {
    font-size: 2rem;
}

.form_page_label_disc {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.form_editor {
    background: rgb(240,235,248);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.form_editor_element {
    background: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 2rem;
    border-radius: 7px;
    border-left: 5px solid white;
}

.form_editor_element:hover {
    border-left: 5px solid rgb(115,47,249);
}

.form_editor_element_label {
    padding-left: 1rem;
    height: 2.5rem;
    width: 50%;
    font-size: 1.5rem;
    /* border-radius: 5px; */
    border: none;
}

.form_editor_element_label:hover {
    border: none;
    outline: none;
    background: rgb(240,235,248);
}

.form_editor_element_label:focus {
    border: none;
    outline: none;
    background: rgb(240,235,248);
    border-bottom: 3px solid rgb(115,47,249);
    transition-duration: 200ms;
}

.form_editor_element_bin {
    display: flex;
    justify-content: flex-end;
}

.form_editor_element_bin_hover {
    border: 1px solid white;
}

.form_editor_element_bin_hover:hover {
    /* border: 2px solid rgb(115,47,249); */
    border-radius: 10px;
    background: rgb(240,235,248);
    /* background: rgb(115,47,249); */
    transition-duration: 200ms;
}

.form_editor_element_option {
    height: 2.5rem;
    width: 70%;
    font-size: 1rem;
    border: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

.form_editor_element_option:hover {
    border: none;
    outline: none;
    /* background: rgb(240,235,248); */
    border-bottom: 1px solid grey;
    /* transition-duration: 100ms; */
}

.form_editor_element_option:focus {
    border: none;
    outline: none;
    /* background: rgb(240,235,248); */
    border-bottom: 3px solid rgb(115,47,249);
    transition-duration: 200ms;
}



.form_editor_x:hover {
    background: rgb(240,235,248);
    font-size: 1.5rem;
    border-radius: 10px;
    transition-duration: 300ms;
}

.new_option_button {
    width: 20%;
    padding: .7rem .2rem;
    background-color: rgba(115,47,249, .97);
    color: white;
    margin-top: 1rem;
    border-radius: 7px;
    font-size: 1rem;
}

.new_option_button:hover {
    transform: scale(1.05);
    transition-duration: 200ms;
}

@media(max-width: 700px) {
    .home_image_label {
        font-size: 1.2rem;
        padding-right: 5vw;
        padding-left: 2rem;
    }

    .home_main_box {
        padding: 3vh 3vh;
    }

    .home_main_label {
        font-size: 1.5rem;
    }

    .home_form{
        width: 100%;
    }

    .home_form_element {
        width: 40vw;
        height: 40vw;
    }

    .home_form_element_label {
        font-size: 1.2rem;
    }

    .home_image2_label {
        font-size: 1rem;
        padding-left: 2rem;
        /* padding-top: 50%; */
        padding-right: 2vw;
        padding-bottom: 4rem;
    }

    .home_ending_label {
        font-size: 2rem;
        
    }
}

