.Logic {
    background: rgb(240,235,248);
    width: 85vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;

    border: 1px solid grey;
    box-shadow: 0 .25rem 10px rgba(0, 0, 0, .4);
}

.Logic_made {
    background: white;
    
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    border-radius: 10px;
    margin-bottom: 2rem;

    border: 1px solid grey;
}

.Logic_made_LR {
    width: 50%;
    /* border: 1px solid red; */
    
}



.logic_h2 {
    padding-left: 1rem;
    padding-bottom: .3rem;
}

.Pages_index {
    display: flex;
    flex-direction: row;
    margin-bottom: .5rem;
    align-items: center;

    border: 1px solid grey;
    width: 100%;
    height: 2.5rem;
    
    /* border-radius: 5px; */
    

    
}

.Pages_index_l {
    border-right: none;
    padding-left: .5rem;
}

.Pages_index_r {
    justify-content: flex-end;
    border-left: none;
    padding-right: .5rem;
}

.Logic_made_true {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-right: 1rem;
    padding-left: 1rem;
}

.Logic_main {
    background: white;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

    border: 1px solid grey;
}

.Logic_page {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    /* background: red; */
    margin-top: 2rem;
}

.Logic_page h2 {
    margin-bottom: .5rem;
}

.Logic_question_and {
    width: 100%;   
    
}

.Logic_question {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    border: 1px solid grey;
    padding: .5rem;
}

.Logic_question.active {
    background: rgb(240,235,248);
    /* background: rgba(115,47,249, .97);
    color: white; */
    border: none;
    
}

.add_log_btn {
    padding: .2rem .2rem;
    background-color: rgba(115,47,249, .97);
    color: white;
    border-radius: 7px;
    font-size: 1rem;
}

.add_log_btn:hover {
    transform: scale(1.05);
    transition-duration: 200ms;
}

.Logic_more {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.5s ease, opacity 3s ease;

    /* background: rgb(240,235,248); */
    /* border: 3px solid rgba(115,47,249, .97); */
    border: 2px solid grey;
}
  
.Logic_more.open {
    height: auto;
    opacity: 1;
    /* background: red; */
    transition: height 0.5s ease, opacity 3s ease;
}

.Logic_more_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 1rem ;
    margin-bottom: .2rem;
}

.Add_logic {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    border: 1px solid grey;
    border-radius: 5px;
    
    padding: .4rem;

    /* background: white; */
    background: rgb(240,235,248);
    margin: 0 1rem;
    margin-bottom: .4rem;
}

.logic_if {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    justify-content: flex-start;
}

.logic_then {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
}

.logic_then_el {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* justify-content: flex-start; */
}

.end_logic_btn {
    padding: .5rem .5rem;
    background-color: rgba(115,47,249, .97);
    color: white;
    border-radius: 7px;
    font-size: 1rem;
    /* margin-top: 1rem; */
    margin: 1rem;
    /* margin-left: 0; */
    margin-top: 0;
}

.end_logic_btn:hover {
    transform: scale(1.05);
    transition-duration: 200ms;
}

.Hidden_pages {
 margin-right: 1rem;
}



@media(max-width: 700px) {
    .smart_hide {
        display: none;
    }

    .Logic { 
        width: 100%;
    }

    .Logic_made {
        width: 95%;
    }

    .Logic_main {
        width: 95%;
    }

    .Pages_index {
        height: 7rem;
    }

    .add_log_btn {
        width: 10vh;
        height: 5vh;
    }

    
}
  