.find {
    margin-top: 25vh;
}

.find_form {
    background: rgb(240,235,248);
    width: 30vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border-radius: 10px;
    border: 2px solid grey;
    box-shadow: 0 .25rem 10px rgba(0, 0, 0, .4);
}

.find_form h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.find_form label {
    font-size: 1.5rem;
}

.find_form input {
    margin-left: 1rem;
    height: 2rem;
    font-size: 1.5rem;
    border: 2px solid grey;
    border-radius: 3px;
}

.find_button {
    width: 30%;
    padding:  .6rem 0;
    background: rgba(115,47,249, .97);
    color: white;
    border-radius: 5px;
    font-size: 1.25rem;
    margin-top: 3rem;
}

.find_button:hover {
    transform: scale(1.05);
    transition-duration: 200ms;
}

.find_error {
    color: red;
    margin-top: .5rem;
}









@media(max-width: 700px) {
    .find {
        display: flex;
        justify-content: center;
    }
    .find_form {
        width: 85%;
    }
}